*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, blockquote, dl, dd {
  margin: 0;
}

p {
  max-width: 65ch;
}

h1 {
  max-width: 45ch;
}

img, figure {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
}

.eyebrow {
  display: block;
  font-size: .75rem;
}
